!!!
%html
  %head
    %title ThijsBlog
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %div.navbar.navbar-fixed-top
      %div.navbar-inner
        %div.container
          = link_to "Thijs Blog", root_path, class: "brand"
    %div.container
      - if container = yield(:container) and container.present?
        = container
      - else
        %div.row
          %div.span12
            = yield
