!!!
%html
  %head
    %title ThijsBlog
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %div.navbar.navbar-fixed-top
      %div.navbar-inner
        %div.container
          %a.btn.btn-navbar{"data-toggle" => "collapse", "data-target" => ".nav-collapse"}
            - 3.times do
              %span.icon-bar
          %a.brand{href: "#"}
            Thijs Blog
          %div.nav-collapse
            %ul.nav
              %li
                = link_to "Posts", posts_path
    %div.container
      %div.row
        %div.span12
          = yield
